@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@font-face {
  font-family: 'MaisonNeue';
  src: url('../font/fonnts.com-64029/fonts/fonnts.com-Maison_Neue_Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'MaisonNeue','Roboto', sans-serif;
  font-size: 16px;
}
.strong{
    color: #121B4D;
}